.btn {
  display: inline-block;
  padding: 13px 48px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: black;
  background-color: white;
}

.btn-reverse {
  color: white;
  background-color: #212529;
}
